<a href="https://colab.research.google.com/github/cuberisu/College/blob/main/Python100_50%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1번 
리스트의 삭제

In [14]:
nums = [100, 200, 300, 400, 500]
del nums[3] #0~4번째 요소 중 3번째, 즉 400을 없애라
# del nums[4] 에러발생! 3번째 값을 지웠기 때문에 이제 4번째 값이 없어진 상태가 되었기 때문이다.
nums #마지막 줄에 한해서 print를 안써도 출력된다.

[100, 200, 300, 500]

In [6]:
nums = [100, 200, 300, 400, 500]
nums = nums[:3] #slice, 0부터 2까지 남기고 나머지는 자른다.
print(nums)

[100, 200, 300]

In [15]:
nums = [100, 200, 300, 400, 500]
nums.pop() #0번째 요소 없애기
nums.pop()
print(nums)

[100, 200, 300]

In [13]:
nums = [100, 200, 300, 400, 500]
print(dir(nums)) #해당 변수의 내장함수가 출력된다.

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

# 2번
insert: list 중간에 요소 추가

In [17]:
l = [200, 100, 300]
l.insert(2, 10000) #2번째(300) 자리에 10000을 넣고 300은 없어지는 게 아니라 뒤로 밀려난다.
print(l)

[200, 100, 10000, 300]

# 3번
변수의 타입 1: list

In [19]:
l = [200, 100, 300]
print(type(l))
print(dir(l))

<class 'list'>
['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

# 4번
변수의 타입 2: str

In [21]:
a = '''Hello World'''
print(type(a))

<class 'str'>

# 5번
for 문 계산

In [24]:
a = 10
b = 2
for i in range(1, 5, 2): #1부터 4까지, 2씩 증가. 
# range()함수는 수의 범위와 증감을 정해두면 규칙적인 수 집합으로 만들어주는 함수
  a += i

print(a + b)

16

# 6번
False

In [27]:
print(bool(" ")) #스페이스바 누르면 True
print(bool(""))
print(bool(["",""])) #,가 있기 때문에 True
print(bool([]))
print(bool(None))

True
False
True
False
False

# 7번
변수명

In [30]:
# 1a = 100 이거는 에러발생
한글 = 100 #한글 변수도 된다.
print(한글)
beautiful_is_better_than_ugly = 200 #스네이크 표기법
beautifulIsBetterThanUgly = 300 #카멜식 표기법
_ = 400 #그냥 언더바도 된다! 실제로도 많이 쓴다고...

100

# 8번
딕셔너리 키 이름 중복

In [31]:
d = {'height':180, 'weight':78, 'weight':84, 'temperature':36, 'eyesight':1}
print(d['weight']) #중복된 이름이 있으면 나중의 것 또는 새로 입력된 것이 출력된다.

84

In [32]:
print(d) #요소들이 입력된 순서대로 나타난다.

{'height': 180, 'weight': 84, 'temperature': 36, 'eyesight': 1}

In [33]:
d #알파벳 순으로 나타난다.

{'eyesight': 1, 'height': 180, 'temperature': 36, 'weight': 84}

In [34]:
!python -V #파이썬 버전 체크

Python 3.7.10

In [36]:
d['weight'] = 1000
print(d) #weight 값이 1000으로 출력된다.

{'height': 180, 'weight': 1000, 'temperature': 36, 'eyesight': 1}

In [37]:
d['aa'] = 1000
print(d) #나중에 추가한 요소가 마지막에 출력된다.

{'height': 180, 'weight': 1000, 'temperature': 36, 'eyesight': 1, 'aa': 1000}

In [38]:
for i in d:
  print(i)

height
weight
temperature
eyesight
aa

# 9번
sep과 end를 활용한 출력 방법

In [39]:
year = '2019'
month = '04'
day = '26'
hour = '11'
minute = '34'
second = '27'

print(year, month, day)
print(hour, minute, second)

2019 04 26
11 34 27

In [40]:
print(year, month, day, end="\t") #기본값은 \n, \t로 하면 tap이 된다. escape 문자
print(hour, minute, second)

2019 04 26	11 34 27

In [42]:
print(year, month, day, end=' ', sep='/') #sep: 문자열 중간에 삽입
print(hour, minute, second, sep=':')

2019/04/26 11:34:27

# 10번

```
    *
   ***
  ***** 
 *******
********* 
```

In [81]:
'''
이건 제가 짠 코드예요...... 복잡하다
4 1
3 3
2 5
1 7
0 9
'''
width = 5
for i in range(1, 6):         # 총 5줄이 나옵니다.

  for j in range(1, width):   # 공백을 입력합니다.
    print(end=' ')

  width -=1                   # 줄이 넘어갈 때마다 공백이 1개씩 줄어듭니다.
  print("*", end='')          # *이 홀수 개이기 때문에 기본적으로 하나 입력해둡니다. 
                              # print()에 개행이 기본적으로 있기 때문에 제거해야 합니다.

  for k in range(1, i):       # 2번째 줄부터 별이 2, 4, 6, 8개 출력됩니다.
    print("**", end='')

  print(end="\n")             # 한 줄이 끝나면 개행을 입력합니다.

    *
   ***
  *****
 *******
*********

In [83]:
n = 5
for i in range(1, n+1):
  #print(n-i, 2i-1)
  print(' '*(n-i) + '*'*(2*i-1))

    *
   ***
  *****
 *******
*********